<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.muscu">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.activeandroid.app.Application"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.AccueilActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AlimentActivity"></activity>
        <activity android:name=".activity.InfosActivity"></activity>
        <activity android:name=".activity.MainActivity"></activity>
        <activity android:name=".activity.PlanningActivity"></activity>
        <activity android:name=".activity.SimpleScannerActivity"></activity>

        <activity android:name=".activity.NutritionActivity"></activity>
        <activity android:name=".activity.PopAliment" android:theme="@style/AppTheme.PopTheme"></activity>
        <activity android:name=".activity.PopRepas" android:theme="@style/AppTheme.PopTheme"></activity>
        <activity android:name=".activity.RepasActivity"></activity>
        <activity android:name=".activity.WorkoutActivity"></activity>


        <meta-data android:name="AA_DB_NAME" android:value="MuscleBuildingDatabase" /> <!-- DB  name -->
        <meta-data android:name="AA_DB_VERSION" android:value="5" /> <!-- DB Version -->

        <!-- DataModel path  with package name -->
        <meta-data android:name="AA_MODELS"
            android:value="com.example.muscu.model.AlimentModel,
            com.example.muscu.model.RepasModel,
            com.example.muscu.model.UtilisateurModel"
            />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="com.example.muscu"
            android:enabled="true"
            android:exported="false">
        </provider>
    </application>

</manifest>